
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.textone {
  width: 400px;
  margin-top: 35px;
}
.imgone {
  width: 500px;
  margin-top: -60px;

}
.i1 {
  width: 500px
}
.mainwin {
  margin: auto;
  /* background-color: #f7f7f7; */
  height: auto;
  margin-top: 20px;
  margin-left: 80px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
}
.mainwin h1 {
  color: white;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}
.mainwin a {
  color: white;
  font-family: 'Raleway', sans-serif;
 
}
.mainwin button {
  width: 200px;
  background-color: #9c0940;
  border-radius: 20px 20px 20px 20px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  /* font-weight: 600; */
  font-weight: bold;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 250px;
  height: 250px;
  margin-left: 23px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-box h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  margin-top: 7px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-back {
  transform: rotateX(180deg);
  background-color: #f3ebee;
}

.flexcont {
  display: flex;
  position: relative;
  /* margin: auto; */
  justify-content: center;
  /* margin-top: 40px; */
  margin-bottom: 20px;
  max-width: 800px;
}
.sec2 {
  margin-top: 10px;
  background-color: white;
  padding: 40px;
  margin-left: -8px;
  margin-right: -8px;
}

.sec2 h1 {
  color: black;
    font-size: 28px;
    margin-bottom: 60px;
    font-family: 'Raleway', sans-serif;
}

#id1 {
  background-color: #fb2574;
  
}

#id2 {
  background-color: #af9ba2;
}
#id3 {
  background-color: #fda2c4;
}

#id4 {
  background-color: #a22956;
}
#id5 {
  background-color: #f1ddcd;
}
.ic1 {
  max-width: 70px;
  height: auto;
  margin-top: 60px;
  color: white;

}
h1 {
  margin: auto;
  /* margin-bottom: 50px; */
  color: #3f6367;
}
h2 {
  font-size: 22px;
}
hr {
  margin-bottom: 50px;
  width: 50%;
}
.sec3 {
  /* background-color: #94cde8; */
  padding: 40px;
  /* display: flex; */
  height: 650px;
}
.sec3 h1 {
  color: white;

  margin-bottom: 50px;
  /* margin-left: 300px; */
  max-width: 900px;
  font-family: 'Raleway', sans-serif;
}

.sec4 {
  background-color: #333;
  /* width: 100%; */
  height: 100px;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -8px;
}

.maket {
  position: absolute;
  width: 536px;
  height: 432px;
  box-shadow: 2px 2px 2px 2px grey;
  
  /* margin-left: 25px; */
}

.rect3:hover {
  transform: scale(1.1); /* Увеличиваем масштаб */
}

.makets {
  justify-content: space-between;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #4ca1af; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  width: 90px;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}





  /* h2 {
    font-size: 15px;
  }
  .ic1 {
    max-width: 40px;
}
h1 {
  font-size: 24px;
} */

/* @media screen and (max-width: 610px) {
  h2 {
    font-size: 11px;
  }
  .flip-box {
    margin-left: 0px;
  }
  .sec2 {
    padding: 10px;
  }
  h1 {
    font-size: 19px;;
  }
} */

.pict {
  /* margin-top: -100px; */
  width: 518px;
  height: auto;
}
.pict img {
  width: 518px
}
.secflex {
  display: flex;
  justify-content: center;
}
.flexcont2 {
  /* display: -webkit-inline-box; */
  position: relative;
  margin: auto;
  max-width: 700px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  
}
.maketcont {
  max-width: 1000px;
}









#root {
  position: absolute;
  width: 100%;
  
  height: 100%;
  overflow: hidden;
  /* right: 0; */
  z-index: -1;
}

#root>div {
  position: absolute;
  background: radial-gradient(ellipse at center, rgb(253, 250, 42) 2%, rgb(216, 215, 159) 100%);
  border-radius: 100%;
  /* filter:blur(1px); */
  animation: shine infinite alternate;
}

@keyframes shine {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(.9);
    opacity: .8;
  }
  40% {
    transform: scale(1);
    opacity: .9;
  }
  40% {
    transform: scale(.2);
    opacity: .2;
  }
  60% {
    transform: scale(.2);
    opacity: .1;
  }
  80% {
    transform: scale(.5);
    opacity: .5;
  }
  100% {
    transform: scale(.9);
    opacity: .9;
  }
}
@media screen and (max-width: 1140px) {
  .flip-box {
    width: 200px;
    height: 200px;
  }
  .pict img {
    width: 420px;
  }
.pict {
  width: 420px;
}
h2 {
font-size: 20px;
}
}
@media screen and (max-width: 920px) {
  .flip-box {
    width: 137px;
    height: 137px;
    margin-left: 7px;
  }
  .flexcont {
    margin-bottom: 7px;
  }
  
  .pict img {
    width: 280px;
  }
.pict {
  width: 280px;
}
.ic1 {
  margin-top: 25px;
  max-width: 50px;
}
h2 {
  font-size: 15px;
  }
  .flip-box h2 {
    margin-top: 1px;
  }
}
@media screen and (max-width: 576px) {
  .flip-box {
    width: 50px;
    height: 50px;
    margin-left: 2px;
  }
  .flexcont {
    margin-bottom: 2px;
  }
  .pict img {
    width: 102px;
  }
.pict {
  width: 102px;
}
.ic1 {
  margin-top: 25px;
  
}
.sec2 h1 {
font-size: 20px;
    margin-bottom: 10px;
}
.ic1 {
  margin-top: 10px;
  max-width: 23px;
}
.flip-box h2 {
  font-size: 8px;
  margin-top: -3px;
}
}
.rect {
  position: absolute;
  width: 480px;
  height: 600px;
  background: repeating-linear-gradient( 
-45deg
, #ffe5f7 0, #ffb8f0 2px, transparent 1px, transparent 8px);
  /* background-color: #af9ba2; */
  z-index: -3;
  margin-top: -50px;
  margin-left: 200px;
}
.rect3 {
  position: absolute;
  width: 320px;
  height: 250px;
  padding: 20px;
  /* background: repeating-linear-gradient( 
-45deg
, #ffe5f7 0, #ffb8f0 2px, transparent 1px, transparent 8px); */
  /* background-color: #af9ba2; */
  z-index: -3;
  margin-top: 250px;
  margin-left: 400px;
  background-color: #ca215f;
  z-index: 5;
  box-shadow: 2px 2px 2px 2px #8a2554;
  transition: 0.5s;
}
.rect3 h2 {
  font-family: 'Raleway', sans-serif;
  color: white;
}
.rect3 a {
  font-family: 'Raleway', sans-serif;
  color: white;
}
@media screen and (max-width: 920px) { 
  .maket {
  width: 336px;
  height: 262px;
  }
  .rect {
    width: 330px;
    height: 380px;
    margin-left: 90px;
  }
  .rect3 {
    margin-top: 160px;
    margin-left: 250px;
    width: 250px;
    height: 180px;
  }
  .rect3 h2{
    margin-top: -7px;
    font-size: 18px;
  }
  .rect3 a {
    font-size: 14px;
  }
  .sec3 {
    height: 450px;
  }
  .flexcont2 {
    max-width: 500px;
  }
}
@media screen and (max-width: 550px) { 
  .maket {
  width: 126px;
  height: 100px;
  margin-top: -30px;
  }
  .rect {
    width: 150px;
    height: 180px;
    margin-left: 30px;
    margin-top: -60px;
}
 
  .rect3 {
    margin-top: 30px;
    margin-left: 90px;
    width: 100px;
    height: 70px;
    padding: 0px;
  }
  .sec3 {
    height: 220px;
    padding-left: 0px;
  }
  .flexcont2 {
    max-width:150px;
  }
  .rect3 a {
    display: none;
  }
  .rect3 h2 {
    font-size: 13.5px;
    margin-top: 25px;
  }
  
}
@media screen and (max-width: 1036px) { 
.i1 {
  width: 350px;
}
.imgone {
  width: 350px;
}
.mainwin {
  height: 250px;
  margin-left: 0px;
  justify-content: center;
}
.mainwin h1 {
  font-size: 24px;
  margin-top: -30px;
}
.mainwin a {
  font-size: 14px;
}
.mainwin button {
  margin-top: 10px;
}
@media screen and (max-width: 704px) { 
  .i1 {
    display: none;
    width: 0px;
  }
  .imgone {
    width: 0px;
  }
  .mainwin h1 {
    text-align: center;
  }
  .mainwin a {
    text-align: center;
  }
  .mainwin button {
    margin: auto;
    margin-top: 10px;
  }
}

@media screen and (max-width: 353px) { 
  .mainwin h1 {
    margin-top: -55px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .mainwin a {
    font-size: 13px;
  }
  .mainwin button {
    height: 30px;
    font-size: 14px;
    width: 150px;
  }
  .pict {
    display: none;
    width: 0px;
  }
  .pict img {
    width: 0px;
  }
  .flip-box {
    width: 75px;
    height: 75px;
  }
  .flip-box h2 {
    font-size: 10px;
    margin-top: 0px;
  }
  .ic1 {
    margin-top: 15px;
  }
  .sec2 h1 {
    margin-top: -15px;
  }
}
@media screen and (max-width: 214px) {
  .mainwin {
    height: 300px;
  }
 }