.pr-about{
/* width: 600px; */
height: 400px;
/* background-color: aliceblue; */
margin-top: 10px;
margin: auto;
font-family: 'Raleway', sans-serif;
}
.mainwin {
  padding: 40px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: auto;
    border: 1px solid #ddd;
    margin-top: 15px;
    background-color: #0089ff47;
    font-family: 'Raleway', sans-serif;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  @media screen and (max-width: 490px) {
    .mainwin {
      padding: 0px;
    }
    table {
      font-size: 10px;
    }
    th {
      padding-left: 3px;
      padding-right: 3px;
    }
  }