.container {
    padding: 16px;
    width: 50%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}
form {
  background-color: white;
}
form h1 {
  text-align: center;
  color: crimson;
  margin-top: 20px;
}
form p {
  text-align: center;
}
form hr {
  margin-bottom: 15px;
}
@media screen and (max-width: 920px) {
    
   .container {
     width: 80%;
   }
  }