{% load static %}
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
     {% block cssjs %} {% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src ="{% static 'js/base.js' %}"></script>
 </head>
 <body>
 {% if user.is_authenticated %}
 <a>{{ user.username }}</a>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
    <div class="topnav">
      <div id="myLinks">
        <a class="active" href="{% url 'home' %}">Главная</a>
        <a href="{% url 'product' %}">Продукт</a>
        {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" style="width:auto; right:0">Выйти</a>
            {% else %}
                  <a id="login" href="#" onclick="document.getElementById('id01').style.display='block';if(document.getElementById('myLinks2').style.display=='block') document.getElementById('myLinks2').style.display='none'" style="width:auto;">Войти</a>
            {% endif %}
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div id="myLinks2">
      <a class="active" href="{% url 'home' %}">Главная</a>
      <a href="{% url 'product' %}">Продукт</a>

          {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                  <a id="login" href="#" onclick="document.getElementById('id01').style.display='block';if(document.getElementById('myLinks2').style.display=='block') document.getElementById('myLinks2').style.display='none'" style="width:auto;">Войти</a>
            {% endif %}

    </div>
    {% block content %} {% endblock %}
    <div id="id01" class="modal">
        <form class="modal-content animate"  method="post">
          <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img src="{% static 'img/1.jpg' %}" alt="Avatar" class="avatar">
          </div>
      
          <div class="container">
              {% csrf_token %}
<!--
          <label for="username"><b>Логин</b></label>
            {{ form.username }}<br>
          <label for="psw"><b>Пароль</b></label>
            {{ form.password }}<br>-->

            <label for="username"><b>Email</b></label>
            <input type="text" placeholder="Введите Email" name="username" required>
      
            <label for="password"><b>Пароль</b></label>
            <input type="password" placeholder="Введите пароль" name="password" required>
              
            <button type="submit">Войти</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Запомнить меня
            </label>
          </div>
      
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Отмена</button>
            <span class="psw">Нет аккаунта? Вы можете <a href="{% url 'register' %}">зарегистрироваться</a></span>
          </div>
        </form>
      </div>


 </body>
</html>
