{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Голосовой ассистент
{% endblock %}
{% block cssjs %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script src ="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block content %}

      <div class = "mainwin">
        <div class=textone>
<h1>Новый Голосовой ассистент</h1>
<a>kdldkkl dflkdfkl fdklkdflkdf lkldfkls
  ,sdm,sd,m dskdfjfjkf djdfkkjdfjk dfkjfdkjdf kjkdfjkjdfj kdfkjdfjkfd kjfkjd
  ,sdm,sd,m dskdfjfjkf djdfkkjdfjk dfkjfdkjdf kjkdfjkjdfj kdfkjdfjkfd kjfkjd
  ,sdm,sd,m dskdfjfjkf djdfkkjdfjk dfkjfdkjdf kjkdfjkjdfj kdfkjdfjkfd kjfkjd
</a>
<button>Попробовать</button>
        </div>
        <div class = "imgone">
          <img class="i1" src = "{% static 'img/pngegg.png'  %}">
        </div>
            <!-- Slideshow container -->
<!-- <div class="slideshow-container">

    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="img/img4.jpg" style="width:100%">
      <div class="text"></div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="img/img5.jpg" style="width:100%">
      <div class="text"></div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="img/img11.jpg" style="width:100%">
      <div class="text"></div>
    </div>

  </div> -->

  <br>
  
  <!-- The dots/circles -->
  <!-- <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div> -->
      </div>
<div class = sec2>
  
  
  <!-- <hr> -->
  <h1 align = "center">Ключевая особенность</h1>
  <div class = "secflex">
    <div class = pict>
      <img src=" {% static 'img/cod.jpg' %}">
    </div>
    <div class = flexconts>
      
      <!-- <a align = "center">fdkjkjdfjkdfkjdfjkdfjkdfjkf jkdfjdfkjkfdjkfdkjfdkj fdjkjfdkj</a> -->
    <div class = flexcont>
        <div class="flip-box" >
          <div class="flip-box-inner">
            <div class="flip-box-front "id = "id1">
              
              <img class="ic1" src="{% static 'img/icons/cloud.svg' %}">
              <h2>Облачные технологии</h2>
            </div>
            <div class="flip-box-back">
              <h2></h2>
            </div>
          </div>
        </div>
        <div class="flip-box" >
          <div class="flip-box-inner">
            <div class="flip-box-front" id = "id2">
              
              <img class="ic1" src="{% static 'img/icons/effective.svg' %}">
              <h2>Эффективность</h2>
            </div>
            <div class="flip-box-back">
              <h2>Back Side</h2>
            </div>
          </div>
        </div>
       
    </div>
  
    <div class = flexcont>
      <div class="flip-box" >
        <div class="flip-box-inner">
          <div class="flip-box-front" id = "id4">
            
            <img class="ic1" src="{% static 'img/icons/research.svg' %}">
            <h2>Умный анализ</h2>
          </div>
          <div class="flip-box-back">
            <h2>Back Side</h2>
          </div>
        </div>
      </div>
      <div class="flip-box" >
        <div class="flip-box-inner">
          <div class="flip-box-front" id = "id3">
            
            <img class="ic1" src="{% static 'img/icons/ideas.svg' %}">
            <h2>Новинка</h2>
          </div>
          <div class="flip-box-back">
            <h2>Back Side</h2>
          </div>
        </div>
      </div>
      <!-- <div class="flip-box" >
        <div class="flip-box-inner">
          <div class="flip-box-front" id = "id5">
            <h2>что то еще</h2>
            <img class="ic1" src="img/icons/startup.svg">
          </div>
          <div class="flip-box-back">
            <h2>Back Side</h2>
          </div>
        </div>
      </div> -->
  </div>
</div>
</div>
</div>
<div class = "sec3">
  
  <!-- <h1 align = "center">Макет</h1> -->

  
  <!-- <hr> -->
  <div class="flexcont2 makets">
    <img class = "maket" src = "{% static 'img/2.png' %}">
    <div class ="rect"></div>
    <div class ="rect3">
      <h2 align = "center">Мобильность</h2>
      <a>fdkjfdkkfj dfjfdkjfkjd fdjfdkjkdfj jdfkkjdfkjd jdfkfjdkj hdjhsdjh dshjdjshhjsd dshjjsdhjdhs 
        hsdjjhsd hjsdjdhsjhds jhdhjh dshjdshj
      </a>
    </div>
  </div>

  

</div>


<!-- <div class="sec4">
<a style="color:white; margin-top: 10px;">Разработчик: Щелкунова Е.С. Россия</a>
</div> -->





      <button onclick="topFunction()" id="myBtn" title="Go to top">Наверх</button>
{% endblock %}

</html>