{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Голосовой ассистент
{% endblock %}
{% block cssjs %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script src ="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block content %}

      <div class = "mainwin">
        <div class=textone>
<h1>Новый Голосовой ассистент</h1>
<a>Первый в России голосовой помощник для операционной системы Windows. 
  Полная поддержка русского языка, управление голосовым вводом и возможность самостоятельно модифицировать 
  программу на Ваше усмотрение.
</a>
          <a class="btnmy" href="{% url 'register' %}">Попробовать</a>
        </div>
        <div class = "imgone">
          <img class="i1" src = "{% static 'img/pngegg.png'  %}">
        </div>
  <br>
      </div>
<div class = sec2>
  <h1 align = "center">Ключевая особенность</h1>
  <div class = "secflex">
    <div class = pict>
      <img src=" {% static 'img/cod.jpg' %}">
    </div>
    <div class = flexconts>
    <div class = flexcont>
        <div class="flip-box" >
          <div class="flip-box-inner">
            <div class="flip-box-front "id = "id1">
              
              <img class="ic1" src="{% static 'img/icons/cloud2.png' %}">
              <h2>Облачные технологии</h2>
            </div>
            <div class="flip-box-back">
              <!-- <h2></h2> -->
              <a>База данных всех пользователей хранится в облачном хранилище, что
                  повышает безопасность и защиту персональных данных
              </a>
            </div>
          </div>
        </div>
        <div class="flip-box" >
          <div class="flip-box-inner">
            <div class="flip-box-front" id = "id2">
              <img class="ic1" src="{% static 'img/icons/effective2.png' %}">
              <h2>Эффективность</h2>
            </div>
            <div class="flip-box-back">
              <!-- <h2>Back Side</h2> -->
              <a>Хотите узнать погоду, курс доллара или выключить компьютер? Все это многое другое уже интегрировано в систему. </a>
            </div>
          </div>
        </div>
    </div>
    <div class = flexcont>
      <div class="flip-box" >
        <div class="flip-box-inner">
          <div class="flip-box-front" id = "id4">
            <img class="ic1" src="{% static 'img/icons/research2.png' %}">
            <h2>Обучаемость</h2>
          </div>
          <div class="flip-box-back">
            <!-- <h2>Back Side</h2> -->
            <a>Пользователь сам может расширять набор команд у голосового ассистента. Программа полностью модифиируема</a>
          </div>
        </div>
      </div>
      <div class="flip-box" >
        <div class="flip-box-inner">
          <div class="flip-box-front" id = "id3">
            <img class="ic1" src="{% static 'img/icons/ideas2.png' %}">
            <h2>Новинка</h2>
          </div>
          <div class="flip-box-back">
            <!-- <h2>Back Side</h2> -->
            <a>Первый в России голосовой помощник для ОС Windows, с полной поддержкой русского языка и управляемым голосовым вводом</a>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
</div>

<div class = "sec3">
  <div class="flexcont2 makets">
    <img class = "maket" src = "{% static 'img/2.png' %}">
    <div class ="rect"></div>
    <div class ="rect3">
      <h2 align = "center">Качественный интерфейс</h2>
      <a>Голосовой помощник также отлично подходит для пользования людям с ограниченными возможностями.
        Интуитивно-понятный интерфейс поможет решить все поставленные задачи, при этом не доставляя проблем в пользовании.
      </a>
    </div>
  </div>
</div>

<!--<div class="sec4">-->
<!--<a style="color:white; margin-top: 10px;">Разработчик: Щелкунова Евгения Сергеевна</a><br>-->
<!--  <a style="color:white; margin-top: 10px;">Россия, г. Кострома</a><br>-->
<!--   <a style="color:white; margin-top: 10px;">Email: jenny.schelkunova@gmail.com</a><br>-->
<!--</div>-->
      <button onclick="topFunction()" id="myBtn" title="Go to top">Наверх</button>
{% endblock %}<div class="sec4">-->
<!--<a style="color:white; margin-top: 10px;">Разработчик: Щелкунова Евгения Сергеевна</a><br>-->
<!--  <a style="color:white; margin-top: 10px;">Россия, г. Кострома</a><br>-->
<!--   <a style="color:white; margin-top: 10px;">Email: jenny.schelkunova@gmail.com</a><br>-->
<!--</div>

</html>