{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Продукт
{% endblock %}
{% block cssjs %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<script src ="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block content %}
      <div class = "mainwin">
        <div class="pr-about">
          <a>лалалала текст о продуктелалалала текст о продукте
            лалалала текст о продуктелалалала текст о продукте
            лалалала текст о продуктелалалала текст о продукте
            лалалала текст о продуктелалалала текст о продукте
            лалалала текст о продуктелалалала текст о продукте
            лалалала текст о продуктелалалала текст о продукте
            лалалала текст о продуктелалалала текст о продукте
            лалалала текст о продуктелалалала текст о продукте
            лалалала текст о продуктелалалала текст о продукте
            лалалала текст о продуктелалалала текст о продукте
          </a>
        </div>
        
        <table>
          <tr>
            <th>ОС</th>
            <th>Версия</th>
            <th>Дистрибутив</th>
          </tr>
          <tr>
            <td>Windows 7</td>
            <td>v. 1.0</td>
            <td><a href="distr/1.txt" download>Скачать файл</a></td>
          </tr>
          <tr>
            <td>Windows 8</td>
            <td>v. 1.0</td>
            <td><a href="distr/1.txt" download>Скачать файл</a></td>
          </tr>
          <tr>
            <td>Windows 10</td>
            <td>v. 1.0</td>
            <td><a href="distr/1.txt" download>Скачать файл</a></td>
          </tr>
        </table>

      </div>

{% endblock %}