{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Продукт
{% endblock %}
{% block cssjs %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<script src ="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block content %}
      <div class = "mainwin">
        <div class="pr-about">
          <h1>Дистрибутивы</h1>
          <hr> <br>
          <a>Программное обеспечение разрабатывается с января 2021 года и на данный момент находится в раннем доступе.</a><br><br>
          <a>Ниже в таблице находятся дистрибутивы для версий операционных систем Windows 7, Windows 8 и Windows 10.
            Если Вы нашли сбои или баги в системе, пожалуйста, напишите нам на почту, она находится внизу страницы в последней секции.
          </a><br><br>
          <a>Чтобы скачать дистрибутив, кликните на ссылку в таблице. Приятного пользования!</a><br><br>
        </div>
        
        <table>
          <tr>
            <th>ОС</th>
            <th>Версия</th>
            <th>Дистрибутив</th>
          </tr>
          <tr>
            <td>Windows 7</td>
            <td>v. 1.0</td>
            <td><a href="distr/1.txt" download>Скачать файл</a></td>
          </tr>
          <tr>
            <td>Windows 8</td>
            <td>v. 1.0</td>
            <td><a href="distr/1.txt" download>Скачать файл</a></td>
          </tr>
          <tr>
            <td>Windows 10</td>
            <td>v. 1.0</td>
            <td><a href="distr/1.txt" download>Скачать файл</a></td>
          </tr>
        </table>

      </div>

{% endblock %}