.container2 {
    padding: 16px;
    width: 80%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    margin-bottom:10px;
}
form {
  background-color: #ffffff7a;
  width: 70%;
  margin: auto;
  margin-top:10px;
}
form h1 {
  text-align: center;
  color: crimson;
  margin-top: 20px;
}
form p {
  text-align: center;
}
form hr {
  margin-bottom: 15px;
}
@media screen and (max-width: 920px) {
    
   .container2 {
     width: 80%;
   }
   }
@media screen and (max-width: 384px) {
form h1 {
    font-size:17px;
}
form {
    width:95%;
}
input[type=text], input[type=password] {
    font-size:15px
}
button {
    font-size:13px;
    padding: 8px 8px;
    margin: auto;

}
.container2 {
    padding:0px;
    padding-top:15px;
    padding-bottom:15px;
}
  }